<div class="error">
  <% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <%= error %><br>
  <% end %>
  <% end %>
</div>


<h1>Send a Message</h1>
<%=form_for @message do |f|%>
<%=f.label "Message:"%>
<%=f.text_area :msg%><br>
<%= f.hidden_field :sender_id, value: session[:user_id] %>
<%= f.hidden_field :receiver_id, value: params[:message][:receiver_id] %>
<%=f.submit class: "btn btn-primary"%>
<% end %>
