
<h3 class="text-label" id="message_top" >Messages With <%=User.find(params[:user_id]).name%></h3>
<div class="row">
<div class='col-3'>
</div>
<div class='col'>


<div class="detailBox">
    <div class="titleBox">
      <label>Messages</label>
        
    </div>
  
    <div class="actionBox">
        <ul class="commentList">
          <li>
            <% if @messages.length == 0 %>
            
              <div class="commentText">
                <p class="">No messages available</p> 
              </div>
               <%end%>
            </li>
            <%@messages.reload.each do |message| %>
            <li>
                <div class="commenterImage">
                  <img src="<%=User.find(message.sender_id).profile_pic%>" />
                </div>
                <div class="commentText">
                    <p class=""><%=message.msg%></p> <span class="date sub-text"><%=message.created_at%></span>
                </div>
            </li>
            <%end%>
        </ul>
        <div class="profile">
      <%= link_to "New Message", new_message_path(:receiver_id => params[:user_id], :sender_id => session[:user_id]), :action => "new", :method => :get, type: "button", class: "btn btn-default"%>

      </div>
    </div>
</div>
</div>
</div>

