<h3 class="text" id="message_top" ><%=User.find(params[:sender_id]).name%></h3>
<div class="centered">
<%=form_for @message do |f|%>
<%=f.text_area :msg%><br>
<%= f.hidden_field :sender_id, value: session[:user_id] %>
<%= f.hidden_field :receiver_id, value: params[:receiver_id] %>
<%=f.submit "Send", class: "btn btn-primary" %>
<% end %>
</div>