<div class="row">
    <div class="col-5">
    </div>
    <div class="col center-text background">
      <img src="https://i.imgur.com/2ihlBLQ.png">
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

  <div class="row">
    <div class="col-4">
    </div>
        <%= form_tag(login_path) do%>
    <div class="col center-text text">
      <label></label>
      <label></label>
      <label></label>
        <label>Username:</label>
        <%= text_field_tag :name %>
    </div>
    </div>
    <div class="row">
    <div class="col center-text text">
        <%= label_tag "Password: " %>
        <%= password_field_tag :password %>
    </div>
  </div>
  </div>


  <div class="row">
    <div class="col-1">
    </div>
    <div class="col center-text">
    <%# <%= submit_tag 'Login' %>
    <button type="Submit" class="btn btn-primary text-desc">Login</button> &nbsp<button type="button" class="btn btn-primary"><a href="/users/new" class="text-desc">Create New User</a></button>
    </div>
  </div>

<% end %>
