<div class="error">
  <% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <%= error %><br>
  <% end %>
  <% end %>
</div>  

<%=form_for @comment do |f|%>
<%=f.text_area :comment%><br>
<br><br>
<%= f.hidden_field :post_id, value: params["post"]["post_id"] %>
<%=f.submit%>
<% end %>
