
<div class="row">
    <div class="col-5">
    </div>
    <div class="col center-text background">
      <img src="https://i.imgur.com/2ihlBLQ.png">
    </div>
</div>

<h3 class="text">Find a Match By:</h3>

<div class="text">
    <%=form_tag(users_path, method: :get) do %>

    <%= select_tag :species,
  options_for_select(User.pluck(:species).uniq),
  { include_blank: 'Species' }%>
    <%= select_tag :gender, options_for_select([['Male'], ['Female']]),:required => true ,:include_blank => "Gender" %>
    <%=submit_tag "Search", class: "btn btn-primary", name: nil %>

    <% end %><br> <br>
  </div>

<br><br><br>
<div class="center-text">
<a href="/users" class="text-link all">View All</a>
</div>


  <div class="flex-container center-text">
    <%@users.each do |user| %>

      <div class="card">
        <div class="card-body">
          <div class='img-container'>
          <a href="<%=user_path(user)%>" >
            <img src=<%=user.profile_pic%> class="img-fluid">
            </a>
          </div><br>
          <h5 class="name-text"><%= link_to user.name, user_path(user), class:"name-text" %></h5>
        </div>
  </div>
      <% end %>
      </div>
