
<div class="row">
    <div class="col-5">
    </div>
    <div class="col center-text background">
      <img src="https://i.imgur.com/2ihlBLQ.png">
    </div>
</div>

<h3 class="text">Find a Match By:</h3>

<div class="text">
    <%=form_tag(users_path, method: :get) do %>
    <label>Species:</label>
    <%= select_tag "species", options_from_collection_for_select(@pets, "species", "species") %><br>
    <%= label_tag "Gender:" %>
    <%= label_tag "Female" %>
    <%=radio_button_tag 'gender', 'Female' %>
    <%= label_tag "Male" %>
    <%=radio_button_tag 'gender',  'Male' %><br>
    <%=submit_tag "Search", name: nil %>
    <% end %><br> <br>
  </div>


<div class="center-text">
<a href="/users" class="text-link all">View All</a>
</div>


  <div class="flex-container center-text">
    <%@users.each do |user| %>

      <div class="card">
        <div class="card-body">
          <div class='img-container'>
          <a href="<%=user_path(user)%>" >
            <img src=<%=user.profile_pic%> class="img-fluid">
            </a>
          </div><br>
          <h5><%= link_to user.name, user_path(user) %></h5>
        </div>
  </div>
      <% end %>
      </div>
