
<h1><%=@user.name%>'s Profile Page</h1><br>
<img src="<%= @user.profile_pic%>"><br>
<label>Age:</label>
<%=@user.age%><br>
<label>Gender:</label>
<%=@user.m_f%><br>
<label>Species:</label>
<%=@user.species%><br>
<label>Quote:</label>
<%=@user.quote%><br>
<label>Favorite Food:</label>
<%=@user.fav_food%><br>
<label>Interests:</label>
<%=@user.interests%><br>
<label>Sniffing Out:</label><br>
<%@user.partners.each do |partner|%>
<%=link_to partner.name, user_path(partner)%>-<%=partner.age%>-<%=partner.species%><br>
<%end%>
<%=link_to "Send #{@user.name} a message", new_message_path%><br>
<%=link_to "Update #{@user.name}'s Profle", edit_user_path%><br>
<%=link_to "Back to Users", users_path%>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to "Add new post", new_post_path%>
<br>
<%@user.posts.each do |post| %>
<%= link_to image_tag(post.image_url), post_path(post)%><br>
<p><%= link_to post.caption, post_path(post) %> <%=post.comments.length%> comments</p>
<% end%>
<br>

<%= button_to "logout", logout_path, method: :delete %>

<%= button_to "Delete this Account", user_path(@user), method: :delete, data: {confirm: "sure"} %>
