

<%if flash[:errors]%>
  <% flash[:errors].each do |error| %>
    <p style="color:red;"> <%= error  %></p>
  <% end %>
<% end %>
<%= image_tag @user.profile_pic, class: "img-fluid" %>
<h1><%=@user.name%></h1><br>

<label>Age:</label>
<%=@user.age%><br>
<label>Gender:</label>
<%=@user.gender%><br>
<label>Species:</label>
<%=@user.species%><br>
<label>Quote:</label>
<%=@user.quote%><br>
<label>Favorite Food:</label>
<%=@user.fav_food%><br>
<label>Interests:</label>
<%=@user.interests%><br>
<%if current_user == @user%>
<%=link_to "Update #{@user.name}'s Profle", edit_user_path%><br>
<% end %>

<%if current_user != @user%>
<%=button_to "Sniff Out", {:controller => "relationships", :action => "create", :user_id => @user.id,} , :method=>:post %>
<%end%>

<%if current_user == @user%>
<label>Sniffing Out:</label><br>
<%@user.partners.each do |partner|%>
<%=link_to partner.name, user_path(partner)%>-<%=partner.age%>-<%=partner.species%>
<td><%= button_to 'Delete', {:controller => "relationships", :action => "destroy", :so_user_id => partner.id} , :method=>:delete  %></td>
<%end%>
<br>
<%end%>
<%if current_user != @user%>
<%= link_to "Message #{@user.name}", {:controller => "messages", :action => "index", :user_id => @user.id}, :method => :get%>
<%end%>


<br>
<%=button_to "Update #{@user.name}'s Profle", edit_user_path, method: :get%><br>
<%=button_to "Back to Users", users_path, method: :get%>

<br>
<br>
<br>
<br>
<br>
<br>
<%if current_user == @user%>
<%= link_to "Add new post", new_post_path%>
<% end %>
<br>
<%@user.posts.each do |post| %>
<%= link_to image_tag(post.image_url), post_path(post)%><br>
<p><%= link_to post.caption, post_path(post) %> <%=post.comments.length%> comments</p>
<% end%>
<br>

<%if current_user == @user%>
<%= button_to "Logout", logout_path, method: :delete %>

<%= button_to "Delete this Account", user_path(@user), method: :delete, data: {confirm: "Do you wish to delete your account?"} %>
<%end%>
