

<%if flash[:errors]%>
  <% flash[:errors].each do |error| %>
    <p style="color:red;"> <%= error  %></p>
  <% end %>
<% end %>

  <div class="row">
   <div class="col-3">
    <%= image_tag @user.profile_pic, class: "img-fluid" %><br>

    <h1><%=@user.name%></h1><br>
    </div>
  <div class="col">
    <label>Age:</label>
    <%=@user.age%><br>
    <label>Gender:</label>
    <%=@user.gender%><br>
    <label>Species:</label>
    <%=@user.species%><br>
    <label>Quote:</label>
    <%=@user.quote%><br>
    <label>Favorite Food:</label>
    <%=@user.fav_food%><br>
    <label>Interests:</label>
    <%=@user.interests%><br>
    </div>
  </div>


<%if current_user == @user%>
<div>
<a class="text-link" href="/users/<%=session[:user_id]%>/edit">Update <%= @user.name%>'s Profle</a><br>
<% end %>
</div>


<%if current_user != @user%>
<%=button_to "Sniff Out", {:controller => "relationships", :action => "create", :user_id => @user.id,} , :method=>:post %>
<%end%>

<%if current_user == @user%>
<label class="text">Sniffing Out:</label><br>
<%@user.partners.each do |partner|%>
<a href="/users/<%=partner.id%>" class="text-link"><img id="sniffing-out" src="<%=partner.profile_pic%>">   <%= partner.name%></a>-<%=partner.age%>-<%=partner.species%> <br> <br>
<td> <%= button_to 'Delete', {:controller => "relationships", :action => "destroy", :so_user_id => partner.id} , :method=>:delete  %></td><br>
<%end%>
<br>
<%end%>
<%if current_user != @user%>
<%= link_to "Message #{@user.name}", {:controller => "messages", :action => "index", :user_id => @user.id}, :method => :get%>
<%end%>


<br>
<%=button_to "Update #{@user.name}'s Profile", edit_user_path, method: :get%><br>
<%=button_to "Back to Users", users_path, method: :get%>

<br>
<br>
<br>
<br>
<br>
<br>
<% if current_user == @user %>
<%= button_to "Add new post", new_post_path, method: :get%>
 <%end %>
<br>

<br>
<div class="flex-container">

  <%@user.posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <div class='img-container'>
        <a href="<%=post_path(post)%>" >
          <img src=<%=post.image_url%> class="img-fluid">
          </a>
        </div>
        <h5><%= link_to post.caption, post_path(post) %></h5>
      </div>

</div>
    <% end %>
</div>





<%if current_user == @user%>
<%= button_to "Logout", logout_path, method: :delete %>

<%= button_to "Delete this Account", user_path(@user), method: :delete, data: {confirm: "Do you wish to delete your account?"} %>
<%end%>
