<div class="error">
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<%= error %><br>
<% end %>
<% end %>
</div>



<div class="center-text text">
    <%=form_for @post do |f|%>
    <div class="row">
      <div class="col center-text">
        <label>Picture URL:</label>
        <%=f.text_field :image_url%><br>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <label></label>  <label></label>
      <label></label>
      <label></label>
      <label></label>
    <%=f.label "Caption :"%>
    <%=f.text_field :caption%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label></label>
      <label></label>
      <label></label>
      <label></label>
      <label></label>
      <label></label>
    <%=f.submit%>
    </div>
    </div>
    <%end%>
</div>
