<div class="error">
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<%= error %><br>
<% end %>
<% end %>
</div>

<%=form_for @post do |f|%>
<%=f.label "Picture URL:"%>
<%=f.text_field :image_url%><br>
<%=f.label "Caption:"%>
<%=f.text_field :caption%><br>
<%=f.submit class: "btn btn-primary"%>
<%end%>
